<div id="app">
    <p class="titleFont">v-if-else</p>
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>
    <br />
    <br />
    <br />

    <p class="titleFont">v-if-template</p>
    <template v-if="isTemplateOk">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>
    <br />
    <br />
    <br />


    <p class="titleFont">v-else-if</p>
    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>
    <br />
    <br />
    <br />

    <p class="titleFont">用 key 管理可复用的元素</p>
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
    </template>
    <button type="button" v-on:click="click1">Click Me!</button>
</div>
<!-- <script type='text/javascript' src='../Users/myUserName/Desktop/myPage.js'></script> -->
<script type='text/javascript' src='vue.js'></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            awesome: false,
            isTemplateOk: false,
            type: '',
            loginType: 'username'
        },
        methods: {
            click1: function () {
                console.log("click1 click");
                console.log(this.loginType);
                if (this.loginType === "username") {
                    this.loginType = "email";
                } else {
                    this.loginType = "username";
                }
            },
        }
    });
</script>

<style type="text/css">
    .titleFont {
        font-size: xx-large;
        color: royalblue;
    }

    .contentFont {
        font-size: 40;
    }

    .royalblue {
        color: royalblue;
    }

    .red {
        color: red;
    }

    .blue {
        color: blue;
        font-size: 50px;
    }

    .active {
        background-color: #ff000055;
    }
</style>