<div id="app">
    <p class="titleFont">指令</p>
    <p v-if="seen">123
    <p class="contentFont">Seen as subview in vif</p>
    <p v-if="seen" class="contentFont">Seen vif</p>
    </p>
    <br />
    <br />
    <br />
    <br />

    <p class="titleFont">动态绑定</p>
    <a v-bind:href="baiduLink" class="contentFont">百度</a>
    <br />
    <!-- hrefattributename 必须全小写
        在 DOM 中使用模板时 (直接在一个 HTML 文件里撰写模板)，还需要避免使用大写字符来命名键名，因为浏览器会把 attribute 名全部强制转为小写：
    -->
    <a v-bind:[hrefattributeName]="vueLink" class="contentFont"> hrefAttributeName </a>
    <div v-on:click="click2" class="contentFont">
        clickme
    </div>
    <br />
    <br />
    <br />

    <p class="titleFont">动态绑定缩写</p>
    <a v-bind:href="baiduLink" class="contentFont">百度</a>
    <br />
    <a :href="baiduLink" class="contentFont">百度</a>
    <!-- hrefattributename 必须全小写
        在 DOM 中使用模板时 (直接在一个 HTML 文件里撰写模板)，还需要避免使用大写字符来命名键名，因为浏览器会把 attribute 名全部强制转为小写：
    -->
    <br />
    <br />
    <div v-on:click="click2" class="contentFont">
        clickme
    </div>
    <div @click="click2" class="contentFont">
        clickme
    </div>
    <br />
    <br />
    <br />


    <p class="titleFont">修饰符（此处为stop）</p>
    <!-- <a v-on:click="doSomething">...</a> -->
    <div @click='click1'>
        <div @click.stop="click2" class="contentFont">
            clickme
        </div>
    </div>
    <br />
    <br />
    <br />

</div>
<!-- <script type='text/javascript' src='../Users/myUserName/Desktop/myPage.js'></script> -->
<script type='text/javascript' src='vue.js'></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            msg: "Hi, VUE!",
            seen: false,
            baiduLink: 'https://www.baidu.com',
            vueLink: 'https://v2.cn.vuejs.org/',
            hrefattributename: "href",
        },
        methods: {
            click1: function () {
                console.log("click1 click");
            },
            click2: function () {
                console.log("click2 click");
            },
            // hrefAttributeName: function () {
            //     return 'href';
            // }
        }
    });
</script>

<style type="text/css">
    .titleFont {
        font-size: xx-large;
        color: royalblue;
    }

    .contentFont {
        font-size: 25;
        color: royalblue;
    }

    .red {
        color: red;
    }

    .blue {
        color: blue;
        font-size: 50px;
    }
</style>